body {
  background: #efefef;
}

section {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 150px;
}

.theme {
  &-brand-1 {
    $ui-button--font-size: 18px;
    $ui-button--border-radius: 100px;
    $ui-button--font-color: #090 !default;

    @import "./src/components/ui-button/ui-button.scss";
  }

  &-brand-2 {
    $ui-button--font-size: 14px;
    $ui-button--border-radius: 5px;

    @import "./src/components/ui-button/ui-button.scss";
  }

  &-brand-3 {
    $ui-button--font-size: 12px;
    $ui-button--border-radius: 10px;


    $ui-button--box-shadow: -6px -6px 14px rgba(18, 127, 146, .5),
-6px -6px 10px rgba(255, 255, 255, .5),
6px 6px 8px rgba(255, 255, 255, .075),
6px 6px 10px rgba(0, 0, 0, .15) !default;

$ui-button--box-shadow-hover: -6px -6px 14px rgba(222, 250, 255, .5),
-6px -6px 10px rgba(255, 255, 255, .5),
6px 6px 8px rgba(255, 255, 255, .075),
6px 6px 10px rgba(0, 0, 0, .15) !default;

$ui-button--box-shadow-active: inset -2px -2px 6px rgba(255, 255, 255, .7),
inset -2px -2px 4px rgba(255, 255, 255, .5),
inset 2px 2px 2px rgba(255, 255, 255, .075),
inset 2px 2px 4px rgba(0, 0, 0, .15) !default;

    @import "./src/components/ui-button/ui-button.scss";

  }
}

